body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

  height: 100vh;

  background-image: url("assets/bg.png");
  background-size: cover;        /* fills screen */
  background-position: center;   /* center image */
  background-repeat: no-repeat;  /* no repeating */

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
}

/* LOADER FULL SCREEN */
#loader {
  position: fixed;
  inset: 0;
  background: #020617; /* deep dark blue */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Center content */
.loader-content {
  text-align: center;
}

/* GIF ICON */
.loader-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

/* NAME TEXT */
.loader-text {
  font-family: 'Audiowide', sans-serif;
  font-size: 26px;
  letter-spacing: 4px;
  color: #38bdf8; /* soft neon blue */
}

/* Optional glow */
.loader-text {
  text-shadow: 0 0 8px rgba(56,189,248,0.7);
}

/* SPIN ANIMATION */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}