body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

  height: 100vh;

  background-image: url("assets/bg.png");
  background-size: cover;        /* fills screen */
  background-position: center;   /* center image */
  background-repeat: no-repeat;  /* no repeating */

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
}